.addUser{
    background: linear-gradient(to right,rgba(231, 27, 27, 0.5), rgba(166, 207, 32, 0.5));
    background-size: cover;
    height: 100vh;
}
.formms{
    border: 4px solid black;
    width: 500px;
    margin: 50px 480px;
    padding: 40px ;

}
*{
    box-sizing: border-box;
}


.add12{
    border: none;
    background-color: transparent;
    border-bottom: 1px solid black;
    outline: none;
}
#h0:hover{
    color: rgb(21, 20, 20);
    border-bottom: 2px solid rgb(59, 3, 3);
    width: 230px;
}
.butn button:hover{
    color: rgb(252, 244, 244);
    background-color: rgb(25, 14, 35);

}
.ttle{
    display: flex;
    align-items: center;
}
#bus2{
    border-radius: 10px;
    padding: 10px;
}