* {
    box-sizing: border-box;
}

.users-list {
    background-color: burlywood;
    background-size: cover;
    height: auto;

}

.round h1 {
    margin: 15px;
    padding: 10px;
    width: 50px;
    border: 3px solid rgb(230, 10, 10);

    border-radius: 100px;
    box-shadow: 5px 5px 5px black;

}

#hd1 {
    background-color: burlywood;
    /* background-size: cover;
    height: 1000vh; */

}

.f11 {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    padding: 15px;
    border: 3px solid black;
    height: 260px;
    width: 275px;
    margin: 20px 73px;
    background: linear-gradient(to right, rgba(244, 13, 13, 0.5), rgba(90, 33, 214, 0.5));
}

.mData {
    display: inline-block;
    /* background-color: burlywood; */
}

#bus4 {

    border-radius: 10px;
    padding: 4px;
    /* background-color: rgb(229, 199, 192); */
}

.butnL button:hover {
    color: rgb(252, 244, 244);
    background-color: rgb(25, 14, 35);

}